<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stu_main.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style type="text/css">
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    .navbar {
        margin-bottom: 0px;

    }
    .btn-info {
        color: #fff;
        background-color:#212431 ;
        border-color: #212431;
    }
    .btn-info:hover {
        color: #fff;
        background-color: #2e3346;
        border-color:#2e3346 ;
    }
    .navbar-brand {
        padding: 0px;
    }
    @media (min-width: 1200px){
    .container {
        width: 1471px;
    }
    }

    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #f1f1f1;
      padding: 8px;
      width: 4px
    }

    #customers tr:nth-child(even) {
      background-color: #f1f1f1;
    }

    #customers tr:nth-child(odd) {
      background-color: #ffffff;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #6d7fcc;
      color: white;
      width: 4px
    }

    .flashup {
      display: None;
    }
  </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">


            <a class="navbar-brand" href="student page.html">
                <img src="24.jfif" alt="logo" style="width:180px;">
            </a>
            <div class="container">
                <!-- <button class='btn btn-info pull-right' onclick="logout">
                  Logout
                </button> -->
                <form action="/logout">
                    <button id='Logout' class='btn btn-info pull-right'>Logout</button>
                </form>
            </div>
        </div>
    </nav>
   <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>

            </div>

            <ul class="list-unstyled components">
                <li >

                    <a href="faculty_edit" >
                        <i class="fas fa-user"></i>
                       Edit Profile
                    </a>

                </li>
                <li>
                    <a href="fac_choose" >
                        <i class="fas fa-pencil-alt"></i>
                        Choose Elective
                    </a>

                </li>
                <li>
                    <a href="fac_view" >
                        <i class="fas fa-pencil-alt"></i>
                        View Preferences
                    </a>

                </li>
                <li>
                    <a href="faculty_elective" >
                        <i class="fas fa-pencil-alt"></i>
                        Assigned Elective
                    </a>

                </li>

            </ul>


        </nav>

        <!-- Page Content  -->

        <div id="content">
            <% if(elec.length > 0 && elecpref.length > 0) { %>
                <table id="customers" style="margin-top:20px">
                    <tr>
                    <th>Elective_id</th>
                    <th>Elective_name</th>
                    <th>Credits</th>
                    <th>Semester</th>

                    </tr>
                    <% for (var i = 0; i < elec.length; i++){ %>

                    <tr>
                        <td>
                            <%= elec[i].elective_id %>
                        </td>
                        <td>
                            <%= elec[i].elective_name %>
                        </td>
                        <td>
                            <%= elec[i].credits %>
                        </td>
                        <td>
                            <%= elecpref[i].sem %>
                        </td>
                    </tr>

                    <% } %>

            <% } %>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    </script>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
