<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="183043165157-m5ul62le4e9n124kmkaekj7mu29ee1k9.apps.googleusercontent.com">
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

<style>
  #wrapper {
    font-family: Lato;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    color: #333;
}

#dialog {
  border: solid 1px #ccc;
  margin: 20px auto;
  padding: 20px 30px;
  display: inline-block;
  box-shadow: 0 0 4px #ccc;
  background-color: #FAF8F8;
  overflow: hidden;
  position: relative;
  max-width: 450px;
}
#form1 {
  max-width: 240px;
  margin: 25px auto 0;
}
#form1 input {
  margin: 0 5px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  padding:0;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 15%;
  transition: all .2s ease-in-out;
  border-radius: 1px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
  background-image: url("12.png");
  background-repeat: no-repeat;
  background-size: 1320px auto;
  background-position: center right;
}

* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: center;
  border-radius: 5px ;
  background-color: #f0eeee;
  padding: 20px 0 30px 0;
  width: 50vw;
  margin-top:100px;
  margin-left: 20px;

}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


input:hover,
.btn:hover {
  opacity: 1;
  background-position: right;

}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.stu {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* style the submit button */
input[type=submit] {
  background-color: rgb(87, 114, 202);
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(87, 114, 202);
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 27%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 250px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: rgb(27, 27, 27);
  border-radius: 0px 0px 4px 4px;
  width: 50vw;
  margin-left: 15px;

}

.navbar-brand{
    text-align: left;
}

.bottom-container a.btn:hover {
    color: #d8e8ec;
    background-color: rgb(58, 54, 54);
}


.img img {
    width: 50%;
    height: 90%;
    position:absolute;
    bottom:0;
    right:0px;
    z-index: -1;
}

button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }


  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn{
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container1 {
    padding: 16px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: #474e5d;
    background-image: url("offer.png");
    margin: 0 auto;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color:  #f1f1f1;;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 460px; /* Could be more or less, depending on screen size */
  }

  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn, .forgot{
       width: 100%;
    }
    .modal-content{
      width: 80%;

    }
    .col {
      width: 100%;
      margin-top:0;
    }
  }

  @media screen and (max-width: 500px) {

    .modal-content{
      width: 80%;

    }
  }

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .col {
    width: 100%;
    margin-top:0;
  }

  .modal-content{
    width: 50%;
    overflow: scroll;


  }
  /* hide the vertical line */
  .vl {
    display: none;
  }

  .img img{
    display: none;
  }

  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
</style>

</head>
<body>
<nav class="navbar ">
    <a class="navbar-brand" href="#">
           <img src="11.png" alt="logo" style="width:175px;">
    </a>
</nav>

<div class="container">
<!--
  <div class="img">
     <img src="offer.png">
  </div>
-->
  <!-- <form action="/login" method="POST"> -->
    <div class="row">
      <h2 style="text-align:center">Welcome</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
        <br>
        <br>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <br>
        <br>
        <!-- <form class="" action="/googlesignin" method="post">
          <input type="submit" name="" class="google btn" i class="fa fa-google fa-fw" value="Login with Google+">
        </form> -->
        <form  action="/googlesignin">
          <div class="g-signin2" data-width="200" data-longtitle="true" data-onsuccess="onSignIn"></div>
        </form>

        <!-- <a href="/googlesign" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a> -->
        <br><br>

      </div>
      <form action="/login" method="POST">
      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
          <select class="stu btn" name="role">
            <option value="student" selected="selected">Student</option>
            <option value="faculty" >Faculty</option>
            <option value="coordinator" >Coordinator</option>
          </select>

          <br><br>
        <a href="/pwdchange">Forgot Password?</a>
        <input type="submit" value="Login">
        <a>Not a member?</a>
        <button type="button" onclick="document.getElementById('id01').style.display='block'" class="btn">Sign Up</button>
      </div>

    </div>
  </form>
</div>


<div id="id01" class="modal" >
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/signup" method="POST" onsubmit="document.getElementById('id02').style.display='block'">
      <div class="container1">
        <h1 style="text-align:center">Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" id="t3" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pwd" id="t11" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="pwdrpt" id="t12" required>
        <label for="ty"><b>Type</b></label>
        <select class="stu btn" name="role">
          <option value="student" selected="selected">Student</option>
          <option value=faculty >Faculty</option>
          <option value="coordinator" >Coordinator</option>
        </select>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <!--<button type="submit" class="signupbtn" onclick="registration()">Sign Up</button>-->
          <button type="submit" class="signupbtn" >Sign Up</button>

        </div>
       </div>
    </form>
</div>

<!-- <div id="id02" class="modal" >
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <div id="wrapper">
    <div id="dialog">
      <h2>Check your mail!</h2>
      <span>(We’ve sent a six-digit confirmation code to faisalkhan.chat@gmail.com. Enter it below to confirm your email address.)</span>
      <div id="form1">
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
        <button class="btn btn-primary btn-embossed">Verify</button>
      </div>

      <div>
        Didn't receive the code?<br />
        <a href="#">Send code again</a><br />
      </div>

    </div>
  </div>

</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    // Get the modal
    var modal = document.getElementById('id01');
    document.style.backgroundColor = "red";
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }


</script>

<script>
  function onSignIn(googleUser) {
    var id_token = googleUser.getAuthResponse().id_token;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/googlesignin');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
      console.log('Signed in as: ' + xhr.responseText);
      if (xhr.responseText == 'success') {
        //signOut();
        location.assign('/gdash')
      }
    };
    xhr.send(JSON.stringify({
      token: id_token
    }));
  }
</script>

<script>

  function registration()
    {
     //
     //  var email= document.getElementById("t3").value;
     //  var pwd= document.getElementById("t11").value;
     //  var cpwd= document.getElementById("t12").value;
     //
     //  //email id expression code
     //  var pwd_expression = /^(?=.?[A-Z])(?=.?[a-z])(?=.?[0-9])(?=.?[#?!@$%^&*-])/;
     //  var letters = /^[A-Za-z]+$/;
     //  var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
     // if (!filter.test(email))
     //  {
     //    alert('Invalid email');
     //  }
     //  else if(!pwd_expression.test(pwd))
     //  {
     //    alert ('Upper case, Lower case, Special character and Numeric letter are required in Password feild');
     //  }
     //  else if(pwd != cpwd)
     //  {
     //    alert ('Password not Matched');
     //  }
     //  else if(document.getElementById("t11").value.length < 6)
     //  {
     //    alert ('Password minimum length is 6');
     //  }
     //  else if(document.getElementById("t11").value.length > 12)
     //  {
     //    alert ('Password max length is 12');
     //  }
     //  else
     //  {
     //    alert('You have been successfully registered');
     //  }
    }
</script>


</body>
</html>
